<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ShowRMIRegistry/src/org/sump/showrmiregistry/ShowRMIRegistry.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.sump.showrmiregistry.ShowRMIRegistry"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ShowRMIRegistry"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.security.policy=policies/default.policy&#13;&#10;-Djava.rmi.server.codebase=http://localhost/rmi/shapelist/&#13;&#10;-Dorg.sump.showrmiregistry.defaultregistry=rmi://localhost:1099"/>
</launchConfiguration>
